<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closePreview()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editProduct()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{product.code}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-profile" text-center>
    <!-- <product-img [product]="product" style="max-height: 100px;"></product-img> -->
    <img *ngIf="product.thumbnailUrl" [src]="product.thumbnailUrl | safeUrl" style="max-height: 100px;" />
  </div>

  <ion-segment [(ngModel)]="segment" color="secondary">
    <ion-segment-button value="general">
      General
    </ion-segment-button>
    <ion-segment-button value="prices">
      Precios
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'general'">
      <div class="product-detail" padding>
        <h2 class="text-color">{{product.code}}</h2>
        <p class="text-color">{{product.description}}</p>
        <p class="text-color">{{product.properties?.type || product.category}}</p>
      </div>

      <ion-item-group>
        <ion-item *ngIf="product.quantity">
          <h2>Cantidad en deposito</h2>
          <p item-right>{{product.quantity}}</p>
        </ion-item>
        <ion-item *ngIf="product.quantityPerPackage">
          <h2>Cantidad por paquete</h2>
          <p item-right>{{product.quantityPerPackage}}</p>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="primary-50" class="text-color">
          Etiquetas
        </ion-item-divider>
        <ion-item *ngFor="let tag of product.tags" class="text-color">
          {{tag}}
        </ion-item>
      </ion-item-group>
    </div>

    <ion-item-group *ngSwitchCase="'prices'">
      <ion-item-divider color="primary-50" class="text-color">
        Lista de precios de venta
      </ion-item-divider>
      <ion-item *ngFor="let price of product.prices" class="text-color">
        <ion-label position="fixed">
          {{price.name}}
        </ion-label>
        <ion-input *ngIf="price.value" value="{{price.value + ' Bs'}}" disabled></ion-input>
      </ion-item>
      <ion-item-divider color="primary-50" class="text-color">
        Otros Precios
      </ion-item-divider>
      <ion-item class="text-color" *ngIf="product.buyingUnitPrice">
        <ion-label position="fixed">
          P/Compra
        </ion-label>
        <ion-input *ngIf="product.buyingUnitPrice" value="{{product.buyingUnitPrice + ' Bs'}}" disabled></ion-input>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>