<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            Deposito
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let product of productsLowQuantity">
            <h2 class="text-color">{{product.name}}</h2>
            <ion-note item-end>{{product.quantity}} Unidades</ion-note>
        </ion-item>
    </ion-list>

    <h6 *ngIf="!productsLowQuantity" padding class="text-color-light">
        <ion-icon name="information-circle"></ion-icon>
        Productos con baja cantidad
    </h6>
</ion-content>