<ion-item-sliding (click)="updateProduct()">
    <ion-item>
        <product-img [product]="product" style="height:80px;width:80px;padding:2px;margin-right:15px;text-align:center">
        </product-img>
        <ion-label>
            <h2 class="text-color">{{product.code}}</h2>
            <h3 class="text-color">{{product.description || product.properties?.type}}</h3>
            <p>
                {{getSelectedProductPrice(product)}}
            </p>
        </ion-label>


        <ion-icon item-end (click)="openProductOptions($event)" color="primary" name="more"></ion-icon>

    </ion-item>
    <ion-item-options side="start">
        <ion-item-option (click)="addPriceWhenNoPrice($event)" color="primary">
            <ion-icon name="pricetag"></ion-icon>
            Precio
        </ion-item-option>
    </ion-item-options>
    <!-- <ion-item-options side="end">
        <ion-item-option (click)="setProductQuantity($event)" color="primary">
            <ion-icon name="home"></ion-icon>
            Cantidad
        </ion-item-option>
    </ion-item-options> -->
</ion-item-sliding>