<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Productos Tunari
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar animated=true placeholder="Que buscas hoy?" (search)="onSearch($event)" [(ngModel)]="searchQuery"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!productsAreLoading && products.length <= 0" padding>No hay productos en esta busqueda!</p>
  <ion-spinner name="dots" color="primary" *ngIf="productsAreLoading"></ion-spinner>
  <ion-list *ngIf="!productsAreLoading">
    <div *ngFor="let product of products">
      <product-item [product]="product" [selectedPrice]="selectedPrice" (onDelete)="removeProductFromList($event)"></product-item>
    </div>

    <ion-infinite-scroll (ionInfinite)="pullNextProductsPage($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas productos">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" #fab slot="fixed" (click)="createProduct(fab)">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-chip *ngIf="productCategories && productCategories.length > 2" (click)="changeCategory($event)">
      <ion-label>{{selectedCategory.name}}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="productTypes && productTypes.length > 2" (click)="changeType($event)">
      <ion-label>{{selectedType.name}}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="productPrices && productPrices.length > 0" (click)="changePrice($event)">
      <ion-label>{{selectedPrice.name}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-footer>